
<button (click)="asc()">正序</button>
<button (click)="desc()">逆序</button>
<button (click)="random()">倒序</button>



<table border="1" width="100%">
    <tbody><tr>
        <th align="left">品牌</th>
        <th align="left">分类</th>
        <th align="left">功能</th>
        <th align="left">价格</th>
    </tr>
    <tr *ngFor="let Product of products">
        <td width="25%">{{Product.brand}}</td>
        <td width="25%">{{Product.type}}</td>
        <td width="25%">{{Product.function}}</td>
        <td width="25%">{{Product.price}}</td>
    </tr>
    </tbody>
</table>